body {
  background-color: lightskyblue;
}

div {
  text-align: center;
  margin-top: 20rem;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 9rem;
  font-weight: bold;
}

h2 {
  font-size: 5rem;
}
