
body{
  background-color: rgb(65, 65, 65);
}

header{
  border-bottom: 0.25rem ;
  border-style: solid;
  color: rgb(179, 179, 179);
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.navigationTop{
 display: flex; 
 justify-content: center;
}

.navigationTop li a{
  text-decoration: none;
  color:rgb(179, 179, 179);
  font-size: 3rem;
}

.container{
  display: flex; 
  justify-content: center;
  margin-top: 43rem;
}

.container h1{
  font-size: 20rem;
  color:rgb(179, 179, 179);
}